NET "clk" LOC = "P56" | IOSTANDARD = LVTTL;

#KEY
#board keys
NET "KEY1" LOC = P30 | IOSTANDARD = LVTTL;
NET "KEY2" LOC = P29 | IOSTANDARD = LVTTL;
NET "KEY3" LOC = P33 | IOSTANDARD = LVTTL;
NET "KEY4" LOC = P32 | IOSTANDARD = LVTTL;



NET "vsync" LOC = "P27";
NET "hsync" LOC = "P26";

#NET "vblue<0>" LOC = "P29";
#NET "vblue<1>" LOC = "P30";
#NET "vblue<2>" LOC = "P32";
#NET "vblue<3>" LOC = "P33";
#NET "vblue<4>" LOC = "P34";
NET "vblue" LOC = "P34";

#NET "vgreen<0>" LOC = "P35";
#NET "vgreen<1>" LOC = "P40";
#NET "vgreen<2>" LOC = "P41";
#NET "vgreen<3>" LOC = "P43";
#NET "vgreen<4>" LOC = "P44";
#NET "vgreen<5>" LOC = "P45";
NET "vgreen" LOC = "P45";

#NET "vred<0>" LOC = "P46";
#NET "vred<1>" LOC = "P47";
#NET "vred<2>" LOC = "P48";
#NET "vred<3>" LOC = "P50";
#NET "vred<4>" LOC = "P51";
NET "vred" LOC = "P51";